body {
	background-image: url("../images/starwarsbackground.jpg");
	background-size: cover;
	
}

.header {
	float: right;
	
	

}

.characters {
	width: 100%;
	min-height: 230px;
	
	
}


.list img {
	width: 120px;
	height: 100px;
	margin: 0 auto;
	

}

.list {
	float: left;	
	width: 140px;
	height: 150px;
	background-color: white;
	border: 2px solid green;
	text-align: center;
	
}


.clearfix {
	overflow: auto;
}

.enemies {
	float: left;

}

.fightSection {
	float: left;
}

#defender {
	float: left;
}

.defense {
	background-color: red;
}